:root {
    --white: #FFFFFF;
    --light-gray: #E9E9EB;
    --black: #010003;
    --dark: #333335;
    --light-dark: #C7C7C7;
    --blue: #3D6198;
    --dark-blue: #43506C;
    --coral: #EF484C;
    --orange: #FC652B;
}


